res/preference.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 9.0.11.3078 (http://www.liquid-technologies.com)-->
<xsd:schema xmlns:pref="http://www.jpreferences.com/preference" elementFormDefault="qualified" targetNamespace="http://www.jpreferences.com/preference" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="preferences">
        <xsd:complexType>
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="pref:preference" />
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="uniqueKey">
            <xsd:selector xpath="pref:preference" />
            <xsd:field xpath="@id" />
        </xsd:unique>
    </xsd:element>
    <xsd:element name="preference">
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="pref:PreferenceType">
                    <xsd:attribute name="id" type="xsd:token" use="required" />
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="PreferenceType">
        <xsd:union memberTypes="xsd:boolean xsd:byte xsd:double xsd:integer xsd:long xsd:short xsd:string" />
    </xsd:simpleType>
</xsd:schema>
